/*******************************CSS de la page aide_utilisateur*****************************/


/*Aspect du texte*/
#recherche {
    text-decoration: none;
    color: white;
    font-family: Lato, calibri, helvetica, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
}


/***** Sommaire de l'aide *****/
#sommaire {
	list-style: none;
    text-align: left;
	text-decoration: none;
	border: 1px solid #9e1515;
	border-radius: 2%;
	background: #326363;
	padding: 2%;
}

#sommaire li {

	list-style: none;
	color: white;
}

#sommaire a {
	text-decoration: none;
	color: white;
}

/*Aspect au passage de la souris*/
#sommaire > a:hover {
	background: #9e1515;
}

/*Positionnement des éléments sur la page*/
.menu_aide {
	display: inline-block;
	position: fixed;
	float: right;
	width: 25%;
}
/*Contenu de l'aide*/
.help {
	display: inline-block;
	float: left;
    text-align: justify; /*justifie le texte */
    margin-left: 20px;
    width: 60%;
}

.help li {
    background-color:inherit;
}
/*Aspect général de l'aide*/
/*Titre*/
h3 {
	/*border-top: 3px solid #9e1515;*/
    margin-bottom: 50px;
    width: 30%;
}
/*Retour en haut de la page*/
#retourhautpage {
	text-decoration: none;
	background-image: url(../images/piledelivres.JPEG);
}

