/*********************************************************CSS de la page aide***************************************************************/


/***************************************************Contenu de l'aide sur l'interface PUBLIQUE*******************/
.help {
	display: inline-block;
	float: left;
    text-align: justify; 
    margin-left: 20px;
    width: 60%;
}

.help li {
    background-color:inherit;
}

.help li:hover {
    background-color:white;
}

/*********************************ASPECT GENERAL DE L'AIDE UBLIQUE***************************/
/*******************Titre************/
.help h2, h3 {
    color: rgb(0,102,102);
}

.help h4 {
    color:DarkSlateGray;
}

/**************************************************Contenu de l'aide sur l'interface PROFESSIONNELLE *************************************************/
.help_pro {
	display: inline-block;
	float: left;
    text-align: justify; 
    margin-left: 20px;
    width: 60%;
}

.help_pro li {
    background-color:inherit;
}

.help_pro li:hover {
    background-color:white;
}

/***********************************************ASPECT GENERAL DE L'AIDE PROFESSIONNELLE**********************************************/
/*********Titre***********/
.help_pro h2, h3 {
    color: rgb(158, 21, 21);
}

.help_pro h4 {
    color: rgb(158, 21, 21);
}

.help_pro h5 {
    color: Crimson;
    font-size: medium;
}
/*******Retour en haut de la page*******/
#retourhautpage {
	text-decoration: none;
	background-image: url(../images/piledelivres.JPEG);
}

/********** Bouton "retour en haut de la page" ***********/
#boutonaccueil {
	text-decoration: underline;
	background-color: rgb(0,102,102);
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
}

#boutonaccueil a {
	color:white;
}

/********** Bouton "retour en haut de la page" PROFESSIONNEL***********/
#boutonaccueil_pro {
	text-decoration: underline;
	background-color: rgb(158, 21, 21);
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
}

#boutonaccueil_pro a {
	color:white;
}
