section {
	margin-top: 5px;
	margin-left: 300px;
	margin-right: 200px;
	color:#2F4F4F;
	font-weight: bold;
}

h2 {
	color:#008080;
}

input[type="submit"] {
	width: 200px;
	box-shadow: 1px 1px 1px #008080;
}