section {
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 200px;
	color:#2F4F4F;
	font-weight: bold;
}

span {
	color:#008080;
}

h2 {
	color:#008080;
}
input[type="text"] {
    width: 90%;
	}
	
input[type="submit"] {
	width: 90px;
	box-shadow: 1px 1px 1px #008080;
}

input[type="reset"] {
    box-shadow: 1px 1px 1px #008080;
    width: 90px;
}

#lien_pro {
	color:#9e1515;
}
	