/************************************** CSS HISTOIRE BIBLIOTHEQUE *********************************************/

/* CSS générale */
section {
	margin-left:220px;
	margin-right: 20%;
	text-align: justify;
}

section h2 {
	color:rgb(0,102,102);
}

/* Positionnement de l'image */
#photobiblio {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}