/******************************************************STRUCTURE GENERALE DE CHAQUE PAGE*****************************************************/

body{
    margin:0;
    text-align:center; /*centrer le texte*/
}

.conteneur{
    margin-left:auto;
    margin-right:auto;
    width:auto;
    text-align:left; /* on rétablit l'alignement normal du texte */
    font-family:Lato, calibri, helvetica, sans-serif;

}


/******************************************************ENTETE*****************************************************/
header{
    height: auto;
    background-image: url(../images/bibliotheque-municipale.jpg);
    background-repeat: no-repeat;
}

header a{
    text-decoration:none; /*pour supprimer le style par défaut du lien utilisé en titre principal*/
}

header a:visited{
    color:white; /*pour supprimer le style par défaut du lien utilisé en titre pp */
}

header div.logo {
    padding: 10px;
    float: left;
}

header div#titrepp {
    padding: 10px;
    display: inline-block;
    float: top;
    background-color: rgba(0, 102, 102, 0.5);
}

h1 {
    color: white;
    max-width: 400px;
    
}


/******************************************************BARRE NAVIGATION*****************************************************/
nav{
    margin: 0px;
    background-color: black;
    color: white;
}

#menu {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    max-height: auto;
    text-align: left; /* positionne le texte */
    
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 0px; /* supprimer les 10 px de padding permet de rétablir l'alignement du menu*/
    margin: 0px;
}

#menu li a {
    display: inline-block;
    margin: 10px 30px; /* marges supérieures et inférieures puis espace entre les liens (marges sur les côtés gauches et droits) */
    text-decoration: none;
    font-weight: normal;
    color: white;
    background-color:transparent;
}

#menu li ul li {
    display: inherit; /*permet de restituer l'ordonnancement initial vertical des listes*/
}

ul ul {
    display: none; /*permet de cacher les listes-enfants de listes*/
}

li:hover
{
    background-color: rgb(0,102,102);
}

li:hover > ul
{
    display: block;    /*permet d'afficher les listes de différentes niveau en survolant les items des listes des niveaux supérieurs*/
    background-color: rgb(0,102,102);
    /*position: absolute;  pour fixer les puces de la liste principale lorsqu'on affiche les listes secondaires*/
    overflow: scroll;
    position: fixed; /*pour fixer la position de la liste quand on passe sur les liens*/
    max-height: 200px;
    max-width: auto;
    padding-left: 0px; /* supprime le padding-left par défaut de l'élément ul*/
}


li:hover ul li
{
    background-color:black;
}

li:hover ul li:hover
{
    background-color: rgb(0,102,102);
}

a:visited {
    color: white;
}

li li:hover ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

/******************************************************ENCART GAUCHE : RECHERCHE SIMPLE*****************************************************/
.encart_recherche {
    float: left;
    background-color: black;
    display: inline-block;
    text-align: center;
    width: 200px;
}

/*Aspect du texte*/
#recherche {
    text-decoration: none;
    color: white;
    font-family: Lato, calibri, helvetica, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
}
/******************************************************ENCART DROITE : ACTUALITES *****************************************************/
.encart_actualite {
    display: inline-block;
    float: right;
    width: 40%;
}
/*Ensemble du texte*/
.actualite{
    padding:2%;
}
/*Une atualité*/
.actu{
    border-top:3px solid #9e1515;
    margin-bottom:50px;
}

/******************************************************FOOTER *****************************************************/

footer{
    height:auto;
    width:auto;
    clear:both;
    background-color:black;
}

footer > div {
    text-align:center;
}
h6{
    text-decoration:none;
    color:white;
    display:inline-block;
    text-align:center; /* pour centrer le text */
    vertical-align:top;
    margin:2%;
}

h6 a{
    text-decoration:none;
    color:white;
}





