header{
    height: 240px;
    background-image: url(../images/bibliotheque-municipale.jpg);
    background-repeat: no-repeat;
}

div.logo {
    padding: 10px;
    float: left;
}

div#titrepp {
    padding: 10px;
    display: inline-block;
    float: top;
    background-color: rgba(0,225,0,0.5)
}

h1 {
    color: white;
    max-width: 400px;
    
}

/*barre de navigation*/
nav{
    margin: 0px;
    background-color: black;
    color: white;
    /* position: fixed; discuter du positionnement fixe de la barre */
}

#menu {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 200px;
    max-height: auto;
    text-align: left; /* le texte  à droite */
    
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin: 0px;
}

#menu li a {
    display: block;
    margin: 10px 30px; /* marges supérieures et inférieures puis espace entre les liens (marges sur les côtés gauches et droits) */
    text-decoration: none;
    font-weight: normal;
    color: white;
    background-color:transparent;
}

#menu ul li {
    display: inherit; /*permet de restituer l'ordonnancement initial vertical des listes*/
}

ul ul {
    display: none; /*permet de cacher les listes-enfants de listes*/
}

li:hover
{
    background-color:green;
}

li:hover ul
{
    display: block;    /*permet d'afficher les listes de différentes niveau en survolant les items des listes des niveaux supérieurs*/
    background-color: green;
    /*position: absolute;  pour fixer les puces de la liste principale lorsqu'on affiche les listes secondaires*/
    overflow: visible;
    position: fixed; /*pour fixer la position de la liste quand on passe sur les liens*/
    box-sizing: auto;
    max-width: 200px;
    padding-left: 0px; /* supprime le padding-left par défaut de l'élément ul*/
}


li:hover ul li
{
    background-color:black;
}

li:hover ul li:hover
{
    background-color:green;
}

a:visited {
    color: white;
}

li li:hover ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

/*Encart de gauche : recherche*/
.encart_recherche {
    float: left;
    background-color: black;
    display: inline-block;
}
/*Aspect du texte*/
#recherche {
    text-decoration: none;
    color: white;
    font-family: Lato, calibri, helvetica, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
}
/*Encart de droite : actualités*/
.encart_actualite {
    display: inline-block;
    float: right;
    width: 25%;
}