/*************************************************** CSS RECHERCHE SIMPLE *******************************************/

/* CSS générale */
.rechercheeasy {
	margin-left: 230px;
	margin-bottom: 10px;
	margin-top:10px;
	
}

aside.illustration {
    display:inline-block;
}
.rechercheeasy a {
 	color:black;
}

.rechercheeasy input[name="recherche_simple"] {
	width: 300px;
	background-color: #82BFBA;
}

.rechercheeasy input[type="submit"] {
	width: 150px;
	box-shadow: 1px 1px 1px #008080;
}

.rechercheeasy input[type="reset"] {
	width: 150px;
	box-shadow: 1px 1px 1px #008080;
}