/*********************************************** CSS RECHERCHE AVANCEE **********************************************/

/* CSS générale */
#avancee{
    margin-left:230px;
    margin-top:10px;
    margin-bottom:100px;
}

#avancee a {
	color:black;
}

#avancee input[type="text"] {
     width:300px;
     background-color: #82BFBA;
}

#avancee input[type="submit"] {
	width: 180px;
	box-shadow: 1px 1px 1px #008080;
}

#avancee input[type="reset"] {
	width: 180px;
	box-shadow: 1px 1px 1px #008080;
}

.conteneur aside {
	margin: 0px;
	float:right;
}