/*******************************CSS de la page aide_utilisateur*****************************/


body {
	font-family: Lato, calibri, helvetica, sans-serif;
}
/*Sommaire*/
#sommaire {
	list-style: none;
}
#sommaire li {
	list-style: none;
}
#sommaire a {
	text-decoration: none;
}

/*Positionnement des éléments sur la page*/
.menu_aide {
	display: inline-block;
	float: right;
	width: 30%;
}
/*Contenu de l'aide*/
.help {
	display: inline-block;
	float: left;
	width: 60%;
}

/*Aspect général de l'aide*/
/*Titre*/
h3 {
	border-top: 3px solid #9e1515;
    margin-bottom: 50px;
    width: 40%;
}
