/************************************** CSS SITE WEB face pro DE LA BIBLIOTHEQUE ***********************/


header{
    height:200px;
    background-image: url(images/tranches.jpeg);
    background-repeat:no-repeat;

}

/*Barre de navigation*/
nav{
    margin:0px;    
    background-color:black;
   
    
}

#menu{
    width:900px;
    padding:0;
    margin:0;
    height:40px;
    text-align:right; /* le texte  à droite */
    
}
#menu li{
    display:inline;
    list-style:none;
    padding:20px;

}

#menu a{
    display:inline-block;
    margin:10px 30px; /* marges supérieures et inférieures puis espace entre les liens (marges sur les côtés gauches et droits) */
    text-decoration: none;
    font-weight:normal;
    color:white;

}

ul ul {
    display: none; /*permet de cacher les listes-enfants de listes*/
}

li:hover ul.niveau2 {
    display:block;    /*permet d'afficher les listes de différentes niveau en survolant les items des listes des niveaux supérieurs*/
    background-color:green;
    position:fixed; /* pour fixer les puces de la liste principale lorsqu'on affiche les listes secondaires*/
    overflow:visible;
}

ul.niveau2 a{
    display:inline-block;
   }
a:hover,
a:visited {
    background-color:green;
    color:black;
    
}

.niveau2 a{
    display:inline;
    margin:10px 30px; /* espace entre les liens */
    text-decoration: none;
    font-weight:normal;
    color:white;
}